{% extends 'mainpage/index.html' %}
{% load static %}


{% block title %}Блог{% endblock %}

{% block content %}
<div class="container" style="color: var(--bs-emphasis-color);padding-right: 0.5px;padding-left: 0.5px;">
    <div id="carousel-1" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active"><img class="w-100 d-block"
                                                   src="{% static 'mainpage/img/pydjango.jpg' %}"
                                                   alt="Slide Image"/></div>
            <div class="carousel-item"><img class="w-100 d-block"
                                            src="{% static 'mainpage/img/pykivy.jpg' %}"
                                            alt="Slide Image"/></div>
            <div class="carousel-item"><img class="w-100 d-block"
                                            src="{% static 'mainpage/img/pybots.jpg' %}"
                                            alt="Slide Image"/></div>
            <div class="carousel-item"><img class="w-100 d-block"
                                            src="{% static 'mainpage/img/nocode.jpg' %}"
                                            alt="Slide Image"/></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                class="carousel-control-prev-icon" aria-hidden="true"></span><span
                class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1"
                                                              role="button" data-bs-slide="next"><span
                class="carousel-control-next-icon" aria-hidden="true"></span><span
                class="visually-hidden">Next</span></a></div>
        <div class="carousel-indicators">
            <button class="active" type="button" data-bs-target="#carousel-1" data-bs-slide-to="0"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3"></button>
        </div>
    </div>
</div>
{% endblock %}